.nav-wrapper {
    height: 50px;
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration:none;
}

.navigation-block {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #715050;
    border: none;
    font-family: 'Proxima Nova';
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    background-color: white;
}

.navigation-block:hover {
    background-color: rgba(180, 118, 118, 0.3);
}

.navigation-block::after {
    /* box-shadow: 1 1 10px rgba(83, 40, 40, 0.767); */
}