* {
  margin: 0;
  padding: 0;
}

.header-task {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 250px;
  font-size: xxx-large;
  cursor: pointer;
  color: #715050;
  font-family: 'Proxima Nova';
}

;
.header-task:hover {
  transition: all ease .8s;
  font-size: 85px;
}

.menu {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}